<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Now Playing</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="stylesheet" type="text/css" href="/css">
</head>
<body>
    <div id="app-container" style="width: {{ app_width }}px; height: {{ app_height }}px;">
        <div id="song-nothing" class="info">
            <p>No songs playing</p>
        </div>
        <div id="song-details" class="hidden">
            <div id="albumart-container">
                <img id="albumart" alt="" src="">
            </div>
            <div id="song-info-text">
                <div id="title-wrapper">
                    <div id="title" class="info"></div>
                </div>
                <div id="artist" class="info"></div>
                <div id="album" class="info"></div>
            </div>
        </div>
    </div>

    <script src="/js"></script>
    <script type="text/javascript">
        const intervalId = setInterval(updateNowPlaying, 3000);
    </script>
</body>
</html>