name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - run: cargo build --release

    - name: Upload executable
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}-executable
        path: target/release/${{ matrix.artifact_name }}
